RewriteEngine On # Turn on the rewriting engine
RewriteRule ^mahasiswa/?$ mahasiswa.php [NC,L]
RewriteRule ^mahasiswa/([0-9]+)/?$ mahasiswa.php?id=$1 [NC,L]
RewriteRule ^about/?$ about.php [NC,L]
RewriteRule ^about/([0-9]+)/?$ about.php?id=$1 [NC,L]
RewriteRule ^contact/?$ contact.php [NC,L]
RewriteRule ^contact/([0-9]+)/?$ contact.php?id=$1 [NC,L]
RewriteRule ^service/?$ service.php [NC,L]
RewriteRule ^service/([0-9]+)/?$ service.php?id=$1 [NC,L]
RewriteRule ^pricing/?$ pricing.php [NC,L]
RewriteRule ^pricing/([0-9]+)/?$ pricing.php?id=$1 [NC,L]